/* Dark theme */
body {
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #0a0a0a;
  color: #ffffff;
  
  /* Background animations */
  background-image: linear-gradient(135deg, #0a0a0a 25%, rgba(0, 24, 42, 0.9) 100%);
  background-size: 400% 400%;
  animation: backgroundGradient 20s linear infinite;

  &::after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: radial-gradient(rgba(255, 255, 255, 0.05) 10%, transparent 50%);
    background-size: 300% 300%;
    animation: animatedDots 8s linear infinite; 
    z-index: -1;
  }
}

@keyframes backgroundGradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

@keyframes animatedDots {
  0% { background-position: 0% 50%; }
  100% { background-position: 100% 50%; }
}


.course-container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  background: linear-gradient(270deg, #20c997, #3C4CAD,#3C4CAD);
}

.course-info {
  flex: 1;
  padding: 40px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  margin-right: 40px;
}

.course-info h1 {
  font-size: 36px;
  font-weight: bold;
  color: linear-gradient(135deg, #20c997, #3C4CAD,#20c997, #3C4CAD);
  margin-bottom: 10px;
}

.course-info p {
  font-size: 18px;
  color: #fff;
  margin-bottom: 5px;
}

.course-image {
  width: 360px;
  height: 510px;
  position: relative;
  z-index: 1;
  border-radius: 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.course-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@keyframes backgroundGradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}



@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Change the color of all link states to white */
a, a:visited, a:hover, a:active {
  color: #ffffff;
}


header {
  background: linear-gradient(135deg, #20c997, #3C4CAD,#20c997, #3C4CAD);
  padding: 1rem 0;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
    top: 0;
  z-index: 1000;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav li {
  margin: 0 2rem;
}

nav a {
  color: rgb(255,255,255);
  text-decoration: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: color 0.3s ease-in-out;
  position: relative;
}

nav a::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, #00bfff, #37b6ff);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
}

nav a:hover {
  color: #37b6ff;
}

nav a:hover::before {
  transform: scaleX(1);
}

@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
    align-items: center;
  }

  nav li {
    margin: 1.5rem 0;
  }
}

body {
  margin-top: 80px;
}

.contact-info a {
  display: block;  
  margin: 10px 0;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}


.video-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;
  margin: 20px;  
}

.video {
  width: 100%;
  padding-bottom: 60%;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.video iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  border: none;
}

.outer-container {
  margin-top: -80px; 
}

.inner-container {
  margin-top: 80px;
}
